@page "/"
@inject FinalProject.Services.SecureStore SecureStore

<section style="position: absolute; top: 30%; left: 50%;">

	<h1>Robotica</h1>

	<br />
	<br />

		<form @onsubmit = "Login">
			<input type="text" placeholder="Username" @bind="Username" />

			<br />
			<br />
			
			<input type="password" placeholder="Password" @bind= "Password">
			
			<br />
			<br />
			<br />
			
			<div style="text-align: center;">
				<button type="submit">Sign In</button>
			</div>
		</form>
	<br />
	<p>Click here if you've forgotten your password.</p>
	<p>Don't have an account? Click here to sign up.</p>

</section>






@code {

	private string Username { get; set; }
	private string Password { get; set; }

	private async Task Login()
	{
		await SecureStore.SetAsync("username", Username);

		var savedUser = await SecureStore.GetAsync("username");


	}

}
