@page "/"


<section style="position: absolute; top: 30%; left: 50%;">

	<h1>Robotica</h1>

	<br />
	<br />

		<form>
			<input type="text" placeholder="Username">

			<br />
			<br />
			
			<input type="password" placeholder="Password">
			
			<br />
			<br />
			<br />
			
			<div style="text-align: center;">
				<button type="submit">Sign In</button>
			</div>
		</form>
	<br />
	<p>Click here if you've forgotten your password.</p>
	<p>Don't have an account? Click here to sign up.</p>

</section>

















@code {

}
