@page "/mainmenu"
@using System.Threading
@using System


<h1>MainMenu</h1>


<div>
	<label>Name: <input type="text" placeholder="Type a roboty name"/></label>
</div>





@code {

	public string Name { get; set; } = string.Empty;



	await InvokeAsync(StateHasChanged);


}
