@page "/mainmenu"
@using FinalProject.Services
@using FinalProject.Models

<h1>MainMenu</h1>

<section style="position: absolute; top: 30%; left: 45%;">

    <NavLink class="btn btn-dark btn-lg" 
             style="width:50% height:50%;"

             href="/robotaddition">
        Add a Robot
    </NavLink>

    <NavLink class="btn btn-dark btn-lg" href="/temperature">
        Temperature Monitor
    </NavLink>

    <NavLink class="btn btn-dark btn-lg" href="/power">
        Power Monitor
    </NavLink>

</section>




@code {



    



}
