@inherits LayoutComponentBase
@using FinalProject.Services
@using FinalProject.Models

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="dot" style="background-color:@ConnectionColor"></div>

            @Body
        </article>
    </main>
</div>



@code {

    CheckConnection GetConnection = new CheckConnection();
    NetworkAccess ConnectionType;
    string ConnectionColor = "red";

    public void ConnectionStatus()
    {
        ConnectionType = GetConnection.CheckConnectivity();

        if (ConnectionType != NetworkAccess.None)
        {
            ConnectionColor = "green";
            InvokeAsync(StateHasChanged);

        }
        else
        {
            ConnectionColor = "red";
            InvokeAsync(StateHasChanged);

        }
    }


    protected override void OnInitialized()
    {
        GetConnection.OnConnection += ConnectionStatus;
        UpdateColor();
    }

    private void OnConnectionChanged()
    {
        UpdateColor();
        InvokeAsync(StateHasChanged);
    }

    private void UpdateColor()
    {
        ConnectionColor = GetConnection.CheckConnectivity() != NetworkAccess.None
            ? "green"
            : "red";
    }

    


}